<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href = "/todo/">List Blog Articles</a>
    {% if user.is_authenticated %}
        <h1>Hi {{user.username}}! </h1>
    {% else %}
        <h1>Please log in or Sign up</h1>
        <br>
        <a href = "/accounts/login">Login</a>
        <a href= "/register">Registration</a>
    {% endif %}
</body>
</html>